<h1>Index</h1>
<%= link_to "New", new_post_path %>
<% if !@posts.blank? %>
  <% @posts.each do |p| %>
    <div>
      <%= image_tag p.image %><br>
      <%= link_to "Delete post...", destroy_post_path(id: p.id), method: :delete, remote: true %>
    </div>
  <% end %>
<% end %>
